.container {
    display: flex;
    min-height: 100vh;
    background: var(--background);
}

.content {
    margin-left: 260px;
    /* Sidebar width */
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: var(--surface);
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}